html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  margin: 20px;
}

img {
  object-fit: cover;
  width: 128px;
  border-radius: 20px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.head {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 24px;
}

h1,h2, h3, p {
  font-family: Arial;
}

main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

main p {
  font-size: 20px;
  font-family: monospace;
}

.subtitle {
  font-size: 24px;
}

ul li {
  font-size: 20px;
  font-family: monospace;
}

.contact-element {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

a {
  color: black;
  text-decoration: underline;
}

.contact-element img {
  width: 32px;
  height: 32px;
}

.email {
  text-decoration: underline;
}
